/* =========================
   COLORS
========================= */
$black: #0f0f0f;
$black-soft: #161616;
$white: #f5f5f5;
$gray: #a1a1a1;
$white-pure: #ffffff;
$white-soft: #f5f5f5;
$porcelain: #eeeeee;
$cloud: #eaeaea;




/* Blue accent */
$blue: #4da3ff;
$blue-dark: #1f6ed5;

/* =========================
   UI
========================= */
$border-color: #242424;
$shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.45);
$shadow-white : 0 10px 30px #f1f2F3;

/* =========================
   TYPO
========================= */
$font-main: 'Inter', sans-serif;
$font-title: 'Playfair Display', serif;