@use "../abstracts" as *;

#contact {
    height: 100vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
    margin-top: 5%;

    &_partie {
        height: 80%;
        width: 75%;
        background-color: $white-soft;
        box-shadow: $shadow-soft;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;


        &_h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            h3 {
                font-size: 45px;
                color: $blue-dark;
            }

            &::before,
            &::after {
                content: "";
                background-color: $blue-dark;
                height: 5%;
                width: 50%;
                position: absolute;
                border-radius: 22px;
            }

            &::before {
                left: -85%; 
            }

            &::after {
                right: -85%; 
            }
        }


    }

    &_lesqr {
        height: 80%;
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;



    }

    #qr_code {
        height: 70%;
        width: 40%;
        background-color: $blue-dark;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 250px;
            width: 250px;
        }

    }

    #lesboutton {
        height: 80%;
        width: 44%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        a {
            height: 17%;
            width: 95%;
            border: 4px solid $blue-dark;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
            position: relative;
            background: transparent;
            overflow: hidden;
            transition: color 0.6s ease;
            letter-spacing: 1px;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: $blue-dark;
                z-index: -1;

                transition: left 0.6s ease;
            }

            &:hover::before {
                left: 0;

            }

            h3 {
                color: black;
                font-size: 25px;

            }

            img {
                height: 30px;
                width: 30px;
            }
        }



    }

    #labar {
        height: 70%;
        width: 1%;
        background-color: $blue-dark;
        border-radius: 20px;

    }

}