@use "../abstracts" as *;

#lanav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 16vh;
    width: 99vw;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    backdrop-filter: blur(11px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    #lelogonav {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 35%;
            width: 45%;
        }
    }

    #letextenav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 33%;
        margin-right: 5%;

        a {
            text-decoration: none;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: color 0.6s ease;
            letter-spacing: 1px;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                bottom: 25%;
                left: -100%;
                width: 100%;
                height: 3%;
                background: $blue-dark;
                z-index: -1;
                border-radius: 2px;

                transition: left 0.6s ease;
            }

            &:hover::before {
                left: 0;

            }

            h3 {
                font-size: 22px;
                color: $blue-dark;




            }

        }







        #lecontact {
            background-color: $blue-dark;
            width: 23%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            text-decoration: none;



            h3 {
                color: $white;
                letter-spacing: 1px;
            }
        }
    }
}