@use "../abstracts" as *;


#techno {
    height: 110vh;
    width: 99vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%;

    &_h3 {
        height: 20%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            content: "";
            width: 12%;
            height: 4%;
            background-color: $blue-dark;
            position: absolute;
            right: -3%;
            border-radius: 22px;
        }

        &::before {
            content: "";
            width: 12%;
            height: 4%;
            background-color: $blue-dark;
            position: absolute;
            left: -3%;
            border-radius: 22px;
        }

        h3 {
            font-size: 60px;
            font-family: $font-title ;
            color: $blue-dark;
        }
    }


    .carousel-track {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;


        div {
            height: 90%;
            width: 20%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            img {
                height: 100px;
                width: 100px;
            }

        }

    }



}