@use "../modules/canvas";
@use "../modules/home";
@use "../modules/presentation";
@use "../modules/nav";
@use "../modules/latoutpetit";
@use "../modules/cursor-circle";
@use "../modules/techno";
@use "../modules/contact";
@use "../modules/footer"